@model Comunes.Models.ArticuloModels

@{
    ViewBag.Title = "Eliminar artículo";
}

<h2>Eliminar artículo</h2>

<h3>¿Está seguro de eliminar este artículo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepositoModels.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositoModels.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalEnEstante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalEnEstante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalEnBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalEnBodega)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Retornar a la lista", "Index")
        </div>
    }
</div>
