@model GAP.Models.DepositoModels

@{
    ViewBag.Title = "Detalles depósito";
}

<h2>Detalles depósito</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.DepositoId }) |
    @Html.ActionLink("Retornar a la lista", "Index")
</p>
